@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #fead03, -20px 0 #ffecc4;
    background: #fead03;
  }
  33% {
    box-shadow: 20px 0 #fead03, -20px 0 #ffecc4;
    background: #ffecc4;
  }
  66% {
    box-shadow: 20px 0 #ffecc4, -20px 0 #fead03;
    background: #ffecc4;
  }
  100% {
    box-shadow: 20px 0 #ffecc4, -20px 0 #fead03;
    background: #fead03;
  }
}

/* shake animation for error labels */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
.shake {
  animation: shake 0.2s ease-in-out 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-out;
}

.fade-in-delay {
  animation: fadeIn 0.4s ease-out 0.2s both;
}

.fade-in-delay-2 {
  animation: fadeIn 0.5s ease-out 0.4s both;
}

.fade-in-delay-3 {
  animation: fadeIn 0.6s ease-out 0.5s both;
}

.fade-in-delay-4 {
  animation: fadeIn 0.7s ease-out 0.6s both;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInLeft 0.5s ease-out both;
}

/* Delayed animations for each card */
.fade-in-left-delay-1 {
  animation-delay: 0.1s;
}

.fade-in-left-delay-2 {
  animation-delay: 0.3s;
}

.fade-in-left-delay-3 {
  animation-delay: 0.4s;
}

.fade-in-left-delay-4 {
  animation-delay: 0.5s;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0E0E0; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toastOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.toast-enter {
  animation: toastIn 0.1s ease-out;
}

.toast-exit {
  animation: toastOut 0.1s ease-in forwards;
}


@keyframes fadePop {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-popup {
  animation: fadePop 0.15s ease-out;
}
